* {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

header {
  align-items: center;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  Top: 0;
  Left: 0;
  z-index: 1;
  width: 100%;
  height: 69px;
}

.headerlogo {
  height: 50px;
}

.headernav a {
  color: seashell;
  padding: 15px;
  text-decoration: underline;
}

body {
  margin: 70px auto 0px;
  overflow: scroll;
}

.mission, .featured, .locations {
  margin: 70px auto 0px;
}

.mission {
  background: url("../../resources/images/img-mission-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
}

.featured {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.featured_pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.piclabels {
  display: flex;
  flex-direction: column;
  padding: 10px
}

img {
  padding: 10px 5px;
  width: 300px;
  height: 200px;
}

.locations {
  background: url("../../resources/images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
}

.location_boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.address {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px 20px;
  width: 300px;
  height: 300px;
}

h3 {
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  }

.copyright h5{
  padding: 20px;
  text-align: left;
  }
